
#back_user_del_acc {
    background-image: url('../image/back.png');
    z-index: 7;
    background-color: rgba(51, 51, 51, 0.84);
    position: fixed;
    height: 100%;
    width: 100%;
    visibility: hidden;
    top: 0px;
    left: 0px;
    overflow: scroll;
    visibility: visible;
    display: none;
}

    #back_user_del_acc .user_upload_category .heading h3 {
        font-size: 30px;
        font-weight: 700;
    }

    #back_user_del_acc .user_upload_category .spacer .btn-container {
        float: right;
        padding-right: 10px;
    }

    #back_user_del_acc .user_upload_category .spacer button {
        width: auto;
    }

        #back_user_del_acc .user_upload_category .spacer button:focus {
            outline: none;
        }

    #back_user_del_acc .user_upload_category .spacer .form-control {
        padding: 0px;
    }


    #back_user_del_acc .CategorySelection {
        border: 1px solid #d8d2d2;
        border-radius: 5px;
        height: 220px;
        overflow: auto;
        padding: 12px 10px;
    }

        #back_user_del_acc .CategorySelection label {
            width: 100%;
            margin-bottom: 0px;
        }

            #back_user_del_acc .CategorySelection label:hover > .main_block {
                background-color: #efefef;
                cursor: pointer;
            }

        #back_user_del_acc .CategorySelection .report_info {
            font-weight: 100;
        }

            #back_user_del_acc .CategorySelection .report_info .remove_mar {
                margin: 0px;
            }

    #back_user_del_acc .btn-container {
        float: right;
        padding-right: 10px;
    }
